/* general styling and reusable classes */

*{
    margin: 0;
}

li {
    list-style: none;
}

.container {
    margin: auto;
    max-width: 1200px;
    background-color: blue;
}

.flex-box{
    display: flex;
}


/* css grid */
.main-grid{
    display: grid;
    grid-template-rows: repeat(auto-fit, repeat(100px, 1fr));
    grid-template-areas:
        "header"
        "about"
        "benefits"
        "join"
        "footer";
}

.main-grid > *{
    background-color: pink;
    border: 1px solid grey;
    box-sizing: border-box;
}



/* header section */
nav{ display:none}

header{
    grid-area: header;
    height: 600px;
}

/* header > nav */
#main-nav{
    display: flex;
    justify-content: flex-end;
}

#main-nav > li:last-child{
    margin-right: 2em;
}

#main-nav a {
    display:inline-block;
    background-color: yellow;
    padding: 20px;
    margin:2px;
    white-space: nowrap; 
}

/* header #hero-info */
#hero-info{
    justify-content: center;
    align-items: center;
    height: 600px;
}

.text-box{
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
}

.text-box > h1 {
    font-size: 60px;
    margin: 0.7em;
}

.text-box > p {
    margin: 2em;
}



#greetings{
    height: 24em;
    width: 20em;
}

/* about section */
#about{
    grid-area: about;
}

/* benefit section */
#benefits{
    grid-area: benefits;
}

/* join section */
#join{
    grid-area: join;
}

/* footer section */
footer{
    grid-area: footer;
}