/* general styling */

*{
    margin: 0;
}

li {
    list-style: none;
}

.container {
    margin: auto;
    max-width: 1200px;
    background-color: blue;
}

/* css grid */
.main-grid{
    display: grid;
    grid-template-rows: repeat(auto-fit, repeat(100px, 1fr));
    grid-template-areas:
        "header"
        "about"
        "benefits"
        "join"
        "footer";
}

.main-grid > *{
    background-color: pink;
    border: 1px solid grey;
    box-sizing: border-box;
}

nav{ display:none}

/* header section */
header{
    grid-area: header;
    height: 600px;
}

#main-nav{
    display: flex;
    justify-content: flex-end;
}



#main-nav > li:last-child{
    margin-right: 2em;
}

#main-nav a {
    display:inline-block;
    background-color: yellow;
    padding: 20px;
    margin:2px;
    white-space: nowrap; 
}

/* about section */
#about{
    grid-area: about;
}

/* benefit section */
#benefits{
    grid-area: benefits;
}

/* join section */
#join{
    grid-area: join;
}

/* footer section */
footer{
    grid-area: footer;
}